<div class="row">
  <div class="col-md-8">
    <h1><%= @blog_post.title %></h1>
    <% if @blog_post.image_url.present? %>
      <img src="<%= @blog_post.image_url %>" class="img-fluid" alt="<%= @blog_post.title %>">
    <% end %>
    <p><%= @blog_post.content %></p>
    <%= link_to 'Edit', edit_blog_post_path(@blog_post), class: 'btn btn-primary' %>
    <%= link_to 'Back', blog_posts_path, class: 'btn btn-secondary' %>
    <%= form_with(model: @blog_post, method: :delete, local: true) do %>
        <%= submit_tag 'Delete', class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>
